
*,
:after,
:before {
  --tw-border-spacing-x:0;
  --tw-border-spacing-y:0;
  --tw-translate-x:0;
  --tw-translate-y:0;
  --tw-rotate:0;
  --tw-skew-x:0;
  --tw-skew-y:0;
  --tw-scale-x:1;
  --tw-scale-y:1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness:proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width:0px;
  --tw-ring-offset-color:#fff;
  --tw-ring-color:rgba(59,130,246,.5);
  --tw-ring-offset-shadow:0 0 #0000;
  --tw-ring-shadow:0 0 #0000;
  --tw-shadow:0 0 #0000;
  --tw-shadow-colored:0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: 
}

* {
  overflow: visible !important; /* Force visibility */
}

html {
  scroll-behavior: smooth;
  line-height:1.5;
  -webkit-text-size-adjust:100%;
  -moz-tab-size:4;
  -o-tab-size:4;
  tab-size:4;
  font-family:ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-feature-settings:normal;
  font-variation-settings:normal;
  -webkit-tap-highlight-color:transparent
}

html {box-sizing: border-box;}

body {
  background-color: rgb(255 255 255/var(--tw-bg-opacity,1));
  overflow-x: hidden;
  margin:0;
}

a {color:inherit;  text-decoration:inherit}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {margin-top: .25rem; margin-bottom: .25rem;}

h1,h2,h3,h4,h5,h6 {
  font-size:inherit;
  font-weight:inherit;
  margin: 0;
}

.text-2xl {font-size: 1.5rem; line-height: 2rem;}
.text-3xl {font-size: 1.875rem; line-height: 2.25rem;}
.text-xs {font-size: .75rem; line-height: 1rem;}
.text-sm {font-size: .875rem; line-height: 1.25rem;}
.text-lg {font-size: 1.125rem; line-height: 1.75rem;}
.text-xl {font-size: 1.25rem; line-height: 1.75rem;}

.whitespace-nowrap {white-space: nowrap;}
.word-break {word-break: break-word;}

.transform-270 {transform: rotate(270deg);}

.bottom-0 {bottom: 0;}

.top-9 {top: 9rem;}
.top-11 {top: 11rem;}

/* .sticky {position: sticky;} */

.pad-0 {padding: 0;}
.p-05 {padding: 0.5rem;}
.p-150 {padding: 1.5rem;}
.p-1 {padding: 1rem;}

.pt-05 {padding-top: .5rem;}

.pb-125 {padding-bottom: 1.25rem;}

.py-025 {padding-top: .25rem; padding-bottom: .25rem;}
.py-05 {padding-top: .5rem; padding-bottom: .5rem;}
.py-150 {padding-top: 1.5rem; padding-bottom: 1.5rem;}

.px-250 {padding-left: 2.5rem; padding-right: 2.5rem;}
.px-05 {padding-left: .5rem; padding-right: .5rem;}
.px-1 {padding-left: 1rem; padding-right: 1rem;}
.px-150 {padding-left: 1.5rem; padding-right: 1.5rem;}

.pr-05 {padding-right: .5rem;}
.pr-1 {padding-right: 1rem;}

.margin-top-auto {margin-top: auto;}
.margin-top-05 {margin-top: .5rem;}
.margin-top-1 {margin-top: 1rem;}
.margin-top-250 {margin-top: 2.5rem;}

.margin-bottom-1{margin-bottom: 1rem;}

.scroll-archer {scroll-margin-top: 14rem;}

.w-fit {width: fit-content;}
.h-fit {height: fit-content;}
.w-full {width: 100%;}
.h-full {height: 100%;}

.gap-025 {gap: .25rem;}
.gap-05 {gap: .5rem;}
.gap-1 {gap: 1rem;}

.bg-primary {background-color: rgb(142 201 199/var(--tw-bg-opacity,1));}
.bg-secondary {background-color: rgb(223 193 113/var(--tw-bg-opacity,1));}
.bg-white {background-color: rgb(255 255 255/var(--tw-bg-opacity,1));}

.justify-between {justify-content: space-between;}
.grid {display: grid;}
/* .grid-cols-2 {grid-template-columns: repeat(2,minmax(0,1fr)); } */
.grid-cols-1 {grid-template-columns: repeat(1,minmax(0,1fr)); }
.flex-wrap {flex-wrap: wrap;}
.flex {display: flex;}
.flex-col {flex-direction: column;}
.justify-center {justify-content: center;}
.items-start {align-items: flex-start;}
.items-center {align-items: center;}
.inline-flex {display: inline-flex;}
.display-block {display:block;}
/* .display-none {display:none;} */
.self-center {align-self: center;}
.self-end {align-self: flex-end;}

.truncate {overflow: hidden;text-overflow: ellipsis;}

/* .border-t {border-top-width: 1px;} */
/* .border-primary {border-color: rgb(142 201 199/var(--tw-border-opacity,1));} */
.border-opacity-50 {--tw-border-opacity: 0.5;}
.border-solid {border: 0 solid #e5e7eb;}
.border-b {border-bottom-width: 1px;}
.rounded-lg {border-radius: .5rem;}
.rounded-md {border-radius: .375rem;}

.font-black {font-weight: 900;}
.font-bold {font-weight: 700;}
.font-semibold {font-weight: 600;}

.text-primaryContent {color: rgb(255 255 255/var(--tw-text-opacity,1));}
.text-secondaryContent {color: rgb(255 255 255/var(--tw-text-opacity,1));}
.text-thirdContent {color: rgb(0 0 0/var(--tw-text-opacity,1));}
.text-primary {color: rgb(142 201 199/var(--tw-text-opacity,1));}
.text-secondary {color: rgb(223 193 113/var(--tw-text-opacity,1));}

.line-clamp-2, .line-clamp-3, .line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;   
}

.line-clamp-3 {-webkit-line-clamp: 3;}
.line-clamp-2 {-webkit-line-clamp: 2;}

.z-index-10 {z-index: 10;}
.z-index-20 {z-index: 20;}
.z-index-30 {z-index: 30;}
.z-index-40 {z-index: 40;}
.z-index-50 {z-index: 50;}
.z-index-100 {z-index: 100;}

.fixed {position: fixed;}
.overflow-auto {overflow: auto!important;}
.overflow-hidden {overflow: hidden;}
.inset-0 {inset: 0;}

.min-h-screen {min-height: 100vh;}
.h-screen {height: 100vh;}
.max-w-screen-2xl {max-width: 1536px;}
.top-0 {top: 0;}
.right-0 {right: 0;}

.max-h-\[150px\] {max-height: 150px;}

/* TRANSITIONS START */

.ease-out {transition-timing-function: cubic-bezier(0,0,.2,1);}
.ease-in-out {transition-timing-function: cubic-bezier(.4,0,.2,1);}
.duration-1000 {transition-duration: 1s;}
.duration-200 {transition-duration: 0.2s;}

@keyframes bounce {
  0%, to { transform: translateY(-25%); animation-timing-function: cubic-bezier(.8, 0, 1, 1); }
  50% { transform: none; animation-timing-function: cubic-bezier(0, 0, .2, 1); }
}
.animate-bounce { animation: bounce 1s infinite; }

@keyframes breath {
  0%, to { transform: scale(.9); opacity: .5; }
  50% { transform: scale(1); opacity: 1; }
}
.animate-breath { animation: breath 2s ease-in-out infinite; }

@keyframes fadeBottom {
  0% { transform: translateY(-100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
.animate-fadeBottom { animation: fadeBottom .7s ease-in-out; }

@keyframes fadeLeft {
  0% { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
.animate-fadeLeft { animation: fadeLeft .7s ease-in-out; }

@keyframes fadeRight {
  0% { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
.animate-fadeRight { animation: fadeRight .7s ease-in-out; }

@keyframes fadeTop {
  0% { transform: translateY(100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
.animate-fadeTop { animation: fadeTop .7s ease-in-out; }

@keyframes modalFadeTop {
  0% { transform: translateX(-50%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
.animate-modalFadeTop { animation: modalFadeTop .7s ease-in-out; }

@keyframes slideUp {
  from { top: 150%; transform: translate(-50%, 0); }
  to { top: 50%; transform: translate(-50%, -50%); }
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

/* TRANSITIONS END */

/* SPINNER START */

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.loading-container {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.logo img {
  width: 270px;
  height: 270px;
  animation: grow 2s ease-in-out infinite alternate;
}

.loading-text {
  font-size: 18px;
  font-weight: 600;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: rgb(223 193 113);
  /* border-left-color: #4CAF50; */
  /* border-left-color: rgb(142 201 199);
  border-top-color: rgb(223 193 113);
  border-right-color: rgb(142 201 199);
  border-bottom-color: rgb(223 193 113); */
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

@keyframes grow {
  0% { transform: scale(1); }
  100% { transform: scale(1.2); }
}

/* SPINNER END */

.container {
  justify-content: center; 
  display: flex;
}

.container-inside {
  flex-direction: column;
  max-width: 1536px;
  width: 100%;
  display: flex;
}

.topnav {
  overflow: hidden;
  position: relative;
  align-items:center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  height: 9rem;
  top: 0;
  z-index: 20;
  background-color: rgb(255 255 255/var(--tw-bg-opacity,1));
}

.topnav .menu-icon, .lang-icon {
  color: white;
  text-decoration: none;
  font-size: 17px;
  display: block;
  border-radius: .375rem;
  cursor: pointer;
}

.menu-icon {padding: 0.75rem 0.80rem;}

.lang-img{
  height: 1.5rem;
  width: 1.5rem;
}

.topnav a.menu-icon, .lang-icon {display: block;}

.btn-arrow {
  display: flex;
  flex-direction: column;
  right: 1.25rem;
  bottom: 1.25rem;
  position: fixed;
  opacity: 0;   
}

.show {opacity: 1; transition: opacity 1s, transform 1s;}

.footer {
  padding: 1.5rem;
  align-items: center;
  flex-direction: column;
  display:flex;
  margin-top: .5rem;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.footer-info {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.btn:hover, .menu-icon:hover, .lang-icon:hover {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}

.card-container {
  transition-timing-function: cubic-bezier(0,0,.2,1);
  transition-duration: 1s;
  transition-property: all;
  height: 100%;
  display: flex;
}

.card {
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .2s;
  transition-property: transform;
  border-width: 1px;
  border-radius: .5rem;
  flex-direction: column;
  width: 100%;
  max-height: 18rem;
  display: flex;
}

.card:hover {
  --tw-scale-x: 1.02;
  --tw-scale-y: 1.02;
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.btn {
  display: flex;
  align-items: center;
  gap: .5rem;
  border-radius: .375rem;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .2s;
  cursor:pointer;
}

#insta {
  background: rgb(223 193 113/var(--tw-text-opacity,1));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-size: 2rem;
}

.category-title {
  transition-timing-function: cubic-bezier(0,0,.2,1);
  transition-duration: 1s;
  transition-property: all;
  display:flex;
}

.product-image {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1rem;
  max-height: 150px;
  max-width: 100%;
  height: auto;
  overflow: auto !important;
}

.info-tile {
    border-radius: .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: fit-content;
    height: fit-content;
}

.side-container-menu {
    z-index: 20;
    top: 0;
    right: 0;
    position: fixed;
}

.button-side-menu, .button-product-modal {
  opacity: .4;
  background-color: rgb(0 0 0/var(--tw-bg-opacity,1));
  width: 100vw;
  min-height: 100vh;
  right: 0;
  position: absolute;
}

.side-menu {
  align-items: center;
  color: rgb(0 0 0/var(--tw-text-opacity,1));
  background-color: rgb(255 255 255/var(--tw-bg-opacity,1));
  padding: 1rem;
  overflow: auto;
  animation: fadeRight .7s ease-in-out;
  max-width: 22rem;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  inset: 0;
  position: fixed;
}

.x-button-container {
  width: fit-content;
  align-self: flex-end;
}

.x-button {
  background-color: transparent;
  color: rgb(0 0 0/var(--tw-text-opacity,1));
}

.x-button:hover {
  background-color: rgb(142 201 199/var(--tw-bg-opacity,1));
  color: white;
  opacity: 0.9;
}

.a-tag-category:hover {
  background-color: rgb(142 201 199/var(--tw-bg-opacity,1));
  color: rgb(255 255 255/var(--tw-text-opacity,1));
}

.list-language-menu {
  --tw-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgb(0 0 0/var(--tw-text-opacity,1));
  text-align: center;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity,1));
  border-radius: .375rem;
  min-width: 5rem;
  margin-top: 1rem;
  right: 2.5rem;
  position: absolute;
}

.item-language-menu:first-child {
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem;
}

.item-language-menu:last-child {
  border-bottom-left-radius: .375rem;
  border-bottom-right-radius: .375rem;
}

.item-language-menu:hover {
  color: rgb(255 255 255/var(--tw-text-opacity,1));
  background-color: rgb(142 201 199/var(--tw-bg-opacity,1));
}

.product-modal {
  background-color: rgba(0,0,0,.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.product-modal-card-container {

  background-color: rgb(255 255 255/var(--tw-bg-opacity,1));
  border-radius: 1rem;
  overflow: auto;
  --tw-translate-y: -50%;
  --tw-translate-x: -50%;
  max-width: 36rem;
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  animation: slideUp 0.7s ease-in-out forwards;
}

.product-modal-card {
  border-radius: 1rem;
  overflow: auto;
  flex-direction: column;
  max-height: 80vh;
  display: flex;
  overflow: auto !important;
}

.product-modal-image {
  object-fit: cover;
  max-height: 300px;
  max-width: 100%;
  height: 100%;
  width: 100%;
  overflow: auto !important;
}

.x-modal-card-button-container {
  position: absolute;
  right: 0;
}

.x-modal-card-button:hover {
  background-color: rgb(142 201 199/var(--tw-bg-opacity,1));
  color: white;
  opacity: 0.9;
  border-radius: .375rem;
}

#return-modal-offer-button:hover {
  background-color: rgb(223 193 113/var(--tw-bg-opacity,1));
  color: rgb(255 255 255/var(--tw-text-opacity,1));
}

.display-none {display:none;}
.sticky {position: sticky;}
.border-t {border-top-width: 1px;}
.border-primary {border-color: rgb(142 201 199/var(--tw-border-opacity,1));}

@media not all and (min-width: 640px) {
  .max-sm\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media not all and (min-width: 768px) {
  .max-md\:h-24 {
    height: 6rem;
  }
}

@media (min-width: 1024px) {
  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
}

@media not all and (min-width: 640px) {
  .max-sm\:text-xs {
    font-size: .75rem;
    line-height: 1rem;
  }
}

@media not all and (min-width: 640px) {
  .max-sm\:text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
  }
}

@media not all and (min-width: 640px) {
  .max-sm\:max-height {
    max-height:100px;
  }
}

@media not all and (min-width: 640px) {
  .max-sm\:max-height-big {
    max-height:220px;
  }
}

@media not all and (min-width: 768px) {
  .max-md\:top-24 {
    top: 6rem;
  }
}
@media not all and (min-width: 1024px) {
  .max-lg\:top-32 {
    top: 8rem;
  }
}